<odoo>
    <record id="action_socios" model="ir.actions.act_window">
        <field name="name">Socios</field>
        <field name="res_model">res.partner</field>
        <field name="view_mode">tree,form</field>
        <field name="target">current</field>
        <field name="domain">[('esSocio', '=', True)]</field>
    </record>

    <menuitem id="socios_menu_root" name="Socios" web_icon="softer_socios,static/description/icon.png"/>
    <menuitem id="socios_list" name="Socios" parent="socios_menu_root" action="action_socios" sequence="20"/>

</odoo>
