<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_softer_socios_root" name="Socios" web_icon="softer_socios,static/description/icon.png" sequence="10"/>

    <menuitem id="menu_softer_socios_configuration" name="Configuración" parent="menu_softer_socios_root" sequence="10"/>

    <menuitem id="menu_softer_socios_socios" name="Socios" parent="menu_softer_socios_root" action="action_socios" sequence="10"/>
</odoo>
